<%= provide(:title, "Services at #{t('brand')}") %>
<div class="container">
  <div class="row">
    <h1 class="page-header">All Services at <%= t('brand') %></h1>
    <p align="center"><%= link_to image_tag('appointment_button.png'), 'http://www.secure-booker.com/pinksbeauty/BookOnlineStart.aspx' %></p>
  </div>

  <%- @categories.each do |c| %>
    <div class="row">
      <h1 class="page-header"><%= c.name %> 
        <% if is_admin? %>
          <small>(<%= link_to "Add Service", new_service_path(:category_id => c) %> | <%= link_to "Edit", edit_category_path(c) %> | <%= link_to "Delete", c, method: :delete, confirm: "You sure?" %>)</small>
        <% end %>
      </h1>
      <p><%= c.description %></p>
      <ul>
        <% if !c.services.nil? %>
          <%- c.services.each do |s| %>
            <%= render s %>
          <% end %>
        <% end %>      
      </ul>
    </div>
  <% end %>
  
  <% if is_admin? %>
    <div class="row" align="center">
      <%= link_to "Add a New Category", new_category_path, :class => "btn btn-large btn-primary" %>
    </div>
  <% end %>

</div>