<% provide(:title ,"#{t('brand')}") %>
<div class="container">
  
  <%= image_tag 'home-page-image.jpg' %>
  
  <div class="content">
    <ul>
      <li><h2><%= image_tag 'home_images/services.png' %> <%= link_to "Featured Services", services_path %></h2></li>
        <%- @categories.each do |c| %>
          <li><h3><%= c.name %></h3></li>
        <% end %>
    </ul>
    
    <ul>
      <li><h2><%= image_tag 'home_images/offers.png' %> Apparel</h2></li>
      <li><h3>Offeroni</h3></li>
      <li><h3>Offeroni</h3></li>
      <li><h3>Offeroni</h3></li>
    </ul>

    <ul>
      <li><h2><%= image_tag 'home_images/contact.png' %> <%= link_to "Contact Us", location_path %></h2></li>
      <li><h3>100 Queen Anne Ave (Map)</h3></li>
      <li><h3>206-555-1212</h3></li>
      <li><%= link_to "Book An Appointment", '#', :class => 'btn btn-large btn-primary' %></li>
    </ul>
  </div>
  
</div> <!-- /container -->
