<% provide(:title ,"Create a New Category") %>
<div class="container">

  <div class="row">
    <h1 class="page-header">New Category</h1>
  </div>

  <div class="row">
    <%= form_for(@category) do |f| %>

      <%= f.label 'What is the name of the category?' %>
      <%= f.text_field :name, placeholder: 'For example: Eyelash Extensions', class: "span5" %>

      <%= f.label 'Provide a description for the category:' %>
      <%= f.text_area :description, placeholder: 'This is the marketing text for the service', class: "span5", :rows => 5 %>

      <p><%= f.submit "Create Your Category", class: "btn btn-large btn-primary" %></p>
    <% end %>
  </div>
  
</div>
