<header>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to t('brand'), root_path, :class => 'brand' %>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %>
          <li><%= link_to "Services", services_path %></li>
          <li><%= link_to "Information", information_path %></li>
          <li><%= link_to "Meet Us", meetus_path %></li>
          <li><%= link_to image_tag('twitter-menu.png'), 'http://twitter.com/pinks623', :target => '_blank' %></li>
          <li><%= link_to image_tag('facebook-menu.png'), 'http://www.facebook.com/PinksTheBeautyBoutique', :target => '_blank' %></li>
          <li><%= link_to image_tag('tumblr-menu.png'), 'http://blog.pinksthebeautyboutique.com', :target => '_blank' %></li>
        </ul>
        <%= link_to image_tag('appointment_button_sm.png'), 'http://www.secure-booker.com/pinksbeauty/BookOnlineStart.aspx' %>
      </div>
    </div>
  </div>
</header>