<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <!-- CSS -->
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    
    <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>

    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicons and touch icons -->
    <link rel="shortcut icon" href="/favicon.ico">

    <!-- Facebook Meta Tags -->
    <meta property="og:site_name" content="Pink's" />
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="<%= yield(:title).present? ? yield(:title) : t('brand') %>"/>
    <meta property="og:description" content="The Beauty Boutique in Lower Queen Anne."/>
    
    <!-- Google Meta Tags -->
    <meta name="google-site-verification" content="oMRdbHE1oJ-NeNVTtXNf18G25iwS078iR_TyNYPOZVs" />
    <meta name="description" content="The Beauty Boutique in Lower Queen Anne" />  
    
    <!-- Google Analytics -->
    <%= render 'common/google_analytics' %>
  </head>
  <body>
    
    <div id="warp">

      <%= render 'common/header' %>    

      <div class="center">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
        
        <%= yield %>
        
      </div>

      <%= render 'common/footer' %>

    </div>

  </body>
</html>
